<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <section class="panel">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none">
              <thead>
              <tr>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="text-center">Completed</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Re-Certify</th>
                <th class="text-center">Share</th>
                <th class="text-center">Download</th>
                <th class="text-center">Print</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Healthcare Proxy</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <td>Maryland MOLST 1</td>
                <td>
                  <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                      100%
                    </div>
                  </div>
                </td>
                <td class="text-right">3/28/2017</td>
                <td class="text-center"><a><i class="fa fa-pencil"></i></a></td>
                <td class="text-center"><a><i class="fa fa-repeat" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-share-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                <td class="text-center"><a><i class="fa fa-print" aria-hidden="true"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
